.extrapaddingtop{
    padding: 0px 30px 10px 0px;
    background-color: #000;
    z-index: 1;
}

.topbarnav{
    color: #fff !important;
    transition: 0.5s ease-in-out !important
}

.nav-item{
    padding: 20px 30px 0px 30px !important;
}

.topbarnav:hover{
    cursor: pointer !important;
    color: #8D1B3D !important;
}

#login{
    background-color: #8D1B3D;
    transition: 0.5s ease-in-out;
    border-radius: 5px;
}

#login:hover{
    background-color: transparent;
    color: #8D1B3D;
}

#signup{
    backgrounD: transparent;
    color: #fff;
}

#signup:hover, #login:hover{
    font-weight: bold;
    transition: 0.5s ease;
}

.middlelogo{
    position: relative;
    z-index: 10;
    background-color: #000;
    padding: 0px 0px 20px 0px;
    /*
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    */    
    clip-path: polygon( -25% 0%, /* left top */ 100% 0%, /* right top */ 100% 35%, /* right bottom */ 50% 100% /* left bottom */ );
}

@media(min-width: 320px){
    .middlelogo{
        display: none;
    }
}

@media(min-width: 992px){
    .extrapaddingtop{
        height: 100px;
    }

    .middlelogo{
        display: block;
    }

    .afterbordline:after{
        position: absolute;
        display: block;
        content: "";
        border-bottom: 2px solid #8D1B3D;
        width: 78%;
        top: 80px;
    }
}